.app
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
input
{
    height: 30px;
    border-radius: 5px;
}
.buttons
{
 display: flex;

}
.login
{
    margin-right: 60px;
}